# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.SOLID.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\PC1\Documents\Unidad1Scripting\Seccion2\Seccion2\Unidad2Scripting\SOLID\.idea\.idea.SOLID\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
